<mat-card>
    <form [formGroup]="sampleForm">
        <div class="row">
            <mat-form-field class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <mat-select
                        formControlName="title"
                        [placeholder]="'Title'"
                        required>
                    <mat-option
                            (onSelectionChange)="onTitleChanged($event)"
                            *ngFor="let title of titleList" [value]="title">
                        {{title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <input
                        matInput
                        formControlName="firstName"
                        [placeholder]="'First Name'">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-3 col-lg-4">
                <input matInput
                       formControlName="lastName"
                       [placeholder]="'Last Name'">
            </mat-form-field>
        </div>
        <div class="row">

            <mat-form-field class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <input matInput
                       formControlName="company"
                       [placeholder]="'Company'">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
                <input
                    #dateInput
                    matInput
                    [matDatepicker]="picker"
                    [placeholder]="'Enter Date'"
                    formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input matInput
                       formControlName="address1"
                       [placeholder]="'Address 1'">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input matInput
                       formControlName="address2"
                       [placeholder]="'Address 2'">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <input matInput
                       formControlName="city"
                       [placeholder]="'City'">
            </mat-form-field>
            <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <input
                        matInput
                        type="text"
                        placeholder="State"
                        formControlName="state"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let state of stateList" [value]="state">
                        {{state}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <input matInput
                       disabled
                       formControlName="postalcode"
                       [placeholder]="'Postal Code'">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-checkbox class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                          formControlName="termsAndConCheckBox">I accept the terms of service.
            </mat-checkbox>
        </div>
        <div class="row">
            <mat-slide-toggle
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                    formControlName="emailSubscriptions">Enable email subscriptions
            </mat-slide-toggle>
        </div>
    </form>

</mat-card>
