<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Hiiiiii</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <div class="flex-spacer"></div>
    <button mat-icon-button> <mat-icon>publish</mat-icon></button>
  </mat-card-actions>
</mat-card>
