@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
    font-family: Roboto, Arial, Helvetica, sans-serif 'Montserrat';
    font-size: 18px;
}


// theme setup - Royal blue

.mat-toolbar.mat-primary {
  // background: #ced0d3;
  background: #106cc8;
}

.mat-expansion-panel-body {
  padding: 0 !important;
  width: 250px
}

